html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'microsoft yahei','微软雅黑','consolas';
	background-color: #fff;
}
/**
	工具样式
*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
#settings {
	opacity: .1;
	height: 30px;
	width: 30px;
	position: fixed;
	right: 20px;
	top: 20px;
	transition-property: "opacity";
	transition-duration: 700ms;
	cursor: pointer;
}
#settings:hover {
	opacity: .7;
}
#set {
	height: 30px;
	width: 30px;
}
.logo {
	height: 150px;
	width: 300px;
	overflow: hidden;
	margin: 0 auto 0;
	padding-top: 80px;
	font-size: 0;
}
.logo img {
	display: inline-block;
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.logo .logo-text {
	font-size: 50px;
	vertical-align: top;
	line-height: 150px;
	margin-left: 20px;
	text-shadow: 2px 2px 3px #888;
	/*float: left;*/
}
.search-box {
	height: 40px;
	width: 545px;
	margin: 65px auto;
	margin-bottom: 90px;
	position: relative;
	border: 1px solid #dfe1e5;
	padding: 5px 15px;
	border-radius: 40px;
	background-color: #fff;
}
.search-box-active {
	box-shadow: 1px 1px 11px #999;
}
.search-box:hover {
	box-shadow: 1px 1px 11px #999;
}
.search-box::after {
	content: "";
	display: block;
	clear: both;
}/*
.search-box .active-tool {
	display: block;
	height: 40px;
	width: 40px;
	border: 1px solid #000;
	box-sizing: border-box;
	margin: 0;
	float: left;
}*/
.search-box .list {
	/*position: absolute;
	top: 40px;
	left: 0;*/
	float: left;
	margin: 0;
	padding: 0;
	background-color: #fff;
	user-select: none;
}
.search-box .list li {
	display: none;
	height: 40px;
	width: 45px;
	/*border: 1px solid #000;*/
	font-size: 36px;
	box-sizing: border-box;
	background-color: #fff;
	position: relative;
	z-index: 999;
	margin-bottom: 3px;
}
.search-box .list li > * {
	display: inline-block;
	width: 40px;
	margin: 0 4px;
}
.search-box .list .using {
	display: block;
}
.search-box .search-text {
	height: 40px;
	width: 490px;
	/*border: 1px solid red;*/
	border: 0;
	text-indent: 15px;
	font-size: 18px;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	float: left;
}
.search-box .search-btn {
	display: none;
	height: 40px;
	/*width: 110px;*/
	/*border: 1px solid yellowgreen;*/
	border: 0;
	box-sizing: border-box;
	color: #fff;
	background-color: blue;
	font-size: 20px;
}
.search-box .word-list {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 1;
	list-style: none;
	border-top: 0;
	box-sizing: border-box;
	text-indent: 20px;
	box-shadow: 6px 6px 10px #999;
	border-radius: 0 0 40px 40px;
	background-color: #fff;
	overflow: hidden;
}
.search-box .word-list li {
	display: block;
	height: 30px;
	width: 575px;
	overflow: hidden;
	line-height: 30px;
	padding: 5px 0;

}
.search-box .word-list .selected {
	background: #e0e0e0;
}
.wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(119,119,119,0.5);
	z-index: 999;
}
.wrap .alert {
	width: 500px;
	background: #fff;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}
.wrap .alert .alert-head {
	height: 25px;
	border-bottom: 1px solid #000;
	/* background-color: red; */
}
.wrap .alert .alert-text {
	margin: 8px 0 8px;
	padding: 0;
	font-size: 17px;
}
.wrap .alert .alert-head .alert-close {
	width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 4px;
    background: rgb(219, 54, 54);
	border-radius: 50%;
	color: rgba(0, 0, 0, 0);
	text-indent: 5px;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	transition: all 300ms;
}
.wrap .alert .alert-head .alert-close:hover {
	background-color: rgb(187,45,45);
}
.wrap .alert .alert-body .support-btn {
	position: relative;
	display: block;
	height: 30px;
	width: 60px;
	border-radius: 30px;
	border: 1px solid #888;
	transition: all 1s;
	box-sizing: border-box;
}
.wrap .alert .alert-body .init::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 29px;
	width: 29px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 2px 2px 4px #888;
}
.wrap .alert .alert-body .init2::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 29px;
	width: 29px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 2px 2px 4px #888;
}
.wrap .alert .alert-body .left::after {
	animation: btn-toLeft .6s cubic-bezier(.77,.21,.26,.92);
	/* background-color: rgb(52, 209, 24); */
}
.wrap .alert .alert-body .right::after {
	animation: btn-toRight .6s cubic-bezier(.77,.21,.26,.92);
}
.wrap .alert .alert-body .container {
	margin: 20px;
	box-sizing: padding-box;
}
.choice-btn {
	display: block;
	height: 30px;
	width: 60px;
	text-align: center;
	line-height: 30px;
	/* border: 1px solid #000; */
	background-color: rgba(212, 212, 212, 0.342);
	color: rgb(0, 0, 0);
	cursor: pointer;
	box-shadow: 2px 2px 10px #888;
}
@keyframes btn-toRight {
	from {left: 0}
	to {left: 30px}
}
@keyframes btn-toLeft {
	from {left: 30px}
	to {left: 0}
}
#collection {
	text-align: center;
}
.collection-box {
	display: inline-block;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.2);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
	/* float: left; */
	margin: 8px;
	position: relative;
	cursor: pointer;
}
.collection-close {
	position: absolute;
	right: 0;
	top: 0;
	font-style: normal;
	opacity: 0;
	color: #222;
}
.collection-box:hover .collection-close {
	opacity: 1;
}
#add-btn {
	display: block;
	height: 30px;
	width: 80px;
	background-color: red;
	color: #fff;
	text-decoration: none;
	line-height: 30px;
	text-align: center;
	margin-top: 8px;
	float:left;
}
#add-input {
	float:left;width: 80%;display: block;height: 30px;margin-top: 8px;box-sizing: border-box;border: 1px solid #888;margin-left: 5px;
}
